.page, .single {
	.main-content {
		padding-top: $space-bigger;
		padding-bottom: $space-bigger;
		.entry-content {
			padding-top: $space-large;
			padding-bottom: $space-larger;
		}
	}
}
.page-template-page-home {
	.main-content {
		padding-top: 0;	
	}
}
.push-up {
	margin-top: -4rem;
}
.text-format {
	p {
		margin-bottom: $space-normal;
	}
}

.terms-list {
	h6 {
		margin-bottom: $space-small;
	}
	.button {
		margin-right: $space-normal;
	}
}
