.main-content {
  .container {
    @include mobile() {
      padding-left: $space-normal;
      padding-right: $space-normal;
    }
    &.mobile-no-padding {
      @include mobile() {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}
.page,
.single {
  .main-content {
    padding-top: 0;
    padding-bottom: $space-bigger;
    .entry-page-content {
      padding-top: $space-large;
      padding-bottom: $space-larger;
    }
  }
}
.page-template-page-home {
  .main-content {
    padding-top: 0;
    padding-bottom: 0;
  }
  .homepage-sidebars {
    margin-top: $space-larger;
  }
}
.main-header {
  .navbar.is-default {
    padding-top: 0; // @todo Fix in vocabulary
    max-width: $fullhd;
    margin: 0 auto;

    .navbar-menu {
      max-height: none;

      .menu-item {
        &.current-menu-item {
          color: $color-black;
          & > a {
            color: $color-black;
          }
        }
        &.current-menu-ancestor {
          & > a {
            color: $color-black;
          }
        }
      }
    }
  }
}
.push-up {
  margin-top: -4rem;
}

.terms-list {
  h6 {
    margin-bottom: $space-small;
  }
  .button {
    margin-right: $space-normal;
    margin-bottom: $space-small;
  }
}
.error404 {
  .page-header {
    .container {
      padding-top: 10rem;
      padding-bottom: 10rem;
      h4 {
        margin-bottom: $space-normal;
      }
    }
  }
}
.text-format {
  p {
    margin-bottom: $space-big;
  }
  ul {
    padding-left: $space-big;
    list-style: disc;
    li {
      margin-bottom: $space-normal;
    }
  }
  ol {
    list-style: none;
    counter-reset: custom-order-counter;
    li {
      margin-bottom: $space-normal;
      counter-increment: custom-order-counter;
      &:before {
        content: counter(custom-order-counter) ".- ";
        color: $color-dark-turquoise;
      }
    }
  }
  .wp-caption {
    margin-bottom: 1.75rem;
    max-width: 100%;
    .wp-caption-text {
      color: $color-dark-gray;
      font-size: 0.8rem;
      font-style: italic;
      line-height: $space-big;
      padding-top: $space-small;
    }
  }
  .alignright {
    float: right;
    margin: 0.4rem 0 1.75rem 1.8rem;
  }
  .alignleft {
    float: left;
    margin: 0.4rem 1.8rem 1.75rem 0;
  }
  .aligncenter {
    clear: both;
    display: block;
    margin: 0 auto 1.75em;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: $space-normal;
  }
}
