/*
		GRID HELPERS
		created by @hugosolar
		https://codepen.io/hugosolar/pen/drqdWO
*/

@mixin grid-container($min-width: 160px, $gap: 1.5rem, $flow: dense, $columns: auto-fit) {
		display: grid;
		grid-template-columns: repeat($columns, minmax($min-width, 1fr));
		grid-gap: $gap;
		grid-auto-flow: $flow;
		&.no-gap {
			grid-gap: 0;
		}
		@include touch() {
				display: block;
		}
}
@mixin grid-columns($cols: 12, $gap: .5rem) {
		display: grid;
		grid-gap: .5rem;
		grid-template-columns: repeat(12,1fr);
		&.align-center {
				justify-content: center;
		}
		&.align-right {
				justify-content: right;
		}
		&.align-stretch {
				justify-content: right;
		}
}
.grid-sidebar {
		&.right {
				padding-left: 1.5rem;
		}
		&.left {
				padding-right: 1.5rem;
		}
}
@mixin grid-rows($cols, $min-width: 200px) {
		grid-template-rows: repeat($cols, $min-width);
}
@mixin use-columns($size) {
		grid-column: span $size;
}
@mixin grid-use-columns($size) {
		grid-column: span $size;
		@include touch() {
				grid-column: span 12;
		}
}
@mixin grid-use-columns-offset($offset,$size) {
		grid-column: $offset/span $size;
		@include touch() {
				grid-column: span 12;
		}
}
@mixin use-rows($size) {
		grid-row: span $size;
}
.main-content-area {
		width: 100vw;
		margin: auto;
		padding-right: 1.5rem;
		padding-left: 1.5rem;
		@include desktop() {
				width: $fullhd;
				
		}
}
.grid-container {
		@include grid-container(15rem,$column-gap);
		@for $x from 2 through 12 {
					&.total-cols-#{$x} {
						@include grid-container(15rem,$column-gap,dense,$x);
			}
		}
		&.no-gap {
			.cell {
				padding-top: 0;
				padding-right: 0;
			}
		}
		.cell {
			&:before {
				content: '';
				position: absolute;
				left: -100%;
				top: 0;
				width: 100%;
				height: 100%;
				background-color: inherit;
			}
			&.has-background-lighter-gray {
				background-color: $color-lighter-gray;
			}
				padding-top: $space-big;
				padding-right: $space-big;
				@include grid-rows(6);
				@for $i from 2 through 12 {
						&.use-#{$i}-cols {
								@include use-columns($i);
						}
				}
				@for $i from 2 through 6 {
						&.use-#{$i}-rows {
								@include use-rows($i);
						}
				}
		}
}
.grid-columns {
		@include grid-columns(12,.5rem);
		@for $i from 1 through 12 {
				.use-#{$i}-columns {
						@include grid-use-columns($i);
						@for $x from 2 through 11 {
								&.offset-#{$x} {
										@include grid-use-columns-offset($x,$i);
								}
						}
				}
		}
}
