.column {
  &.leveled {
    justify-content: space-between;
  }
}
.single {
  .single-header {
    .entry-meta-container {
      position: relative;
      .entry-meta-header {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: -6rem;
        padding: 1.5rem;
        background-color: $white;
        .entry-category {
          position: absolute;
          top: -1.9rem;
          left: 0;
          .button {
            border-radius: 0;
          }
        }
      }
      @include mobile() {
        .entry-meta-header {
          position: static;
          .entry-category {
            position: static;
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}
