.featured-content {
  display: flex;
  align-items: flex-end;
  min-height: 50vh;
  color: $color-white;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-position: center;
  &.has-notification-enabled {
    padding-bottom: $space-larger;
  }
  .wrap-content {
    .heading-b {
      margin-bottom: $space-big;
      color: $color-white;
    }
  }
}

.single-header,
.page-header {
  padding-top: $space-large;
  padding-bottom: $space-large;
  background-color: $color-lighter-gray;
  .entry-date {
    color: $color-dark-gray;
    font-style: italic;
  }
  .entry-image {
    margin-bottom: $space-normal;
    img {
      width: 100%;
    }
  }
}

.social-media {
  padding-top: $space-normal;
  a {
    margin-right: $space-small;
    color: $color-white;
    text-decoration: none;
    .icon {
      font-size: 1.8rem;
    }
    &:hover {
      text-decoration: none;
    }
  }
}

.entry-simple-post {
  margin-bottom: $space-big;
  &.has-image {
    .entry-image {
      padding: 0;
      img {
        width: 100%;
      }
    }
    .entry-content {
      padding-left: $space-bigger !important;
    }
  }
  .entry-content {
    padding-top: 1rem;
    padding-bottom: 2rem;
    .b-header {
      a {
        color: $black;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .entry-date {
      color: $color-gray;
      font-weight: 600;
      font-size: 0.8rem;
      text-transform: uppercase;
    }
  }
  @include mobile() {
    &.has-image {
      .entry-content {
        padding-left: 0 !important;
      }
    }
  }
}

.searchform {
  .field {
    .control {
      &:first-child {
        width: 100%;
      }
    }
  }
}
.page {
  .sidebar {
    padding-top: 1.5rem;
  }
}
.side-navigation {
  .list-pages {
    .page_item {
      &.current_page_item {
        & > a {
          color: $color-black;
        }
      }
      a {
        display: block;
        padding: $space-normal;
        margin-bottom: $space-smaller;
        background-color: $color-lighter-gray;
        font-weight: 700;
      }
      &.current_page_item,
      &.current_page_ancestor {
        &.page_item_has_children {
          & > a {
            margin-bottom: 0;
            color: $color-black;
          }
        }
        .children {
          display: block;
          margin-bottom: $space-smaller;
          padding-bottom: $space-normal;
          padding-left: $space-larger;
          background-color: $color-lighter-gray;
          list-style-type: disc;
          .page_item {
            & > a {
              padding-top: $space-smaller;
              padding-bottom: $space-smaller;
              padding-left: $space-small;
              margin-bottom: 0;
            }
            &.current_page_item {
              & > a {
                color: $color-black;
              }
            }
          }
        }
      }
    }
    .children {
      display: none;
    }
  }
}

.share-entry {
  .share {
    margin-right: 0.5rem;
    color: $color-black;
    text-decoration: none;
    .icon {
      font-size: 1.2rem;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
.entry-image {
  position: relative;
  .caption {
    @include caption-style;
    bottom: 0;
    left: 0;
  }
}

.entry-author {
  @extend .padding-vertical-normal;
  display: flex;
  align-items: center;
  .author-image {
    a {
      display: block;
      .avatar {
        width: 100%;
        object-fit: cover;
        margin-right: $space-smaller;
        border-radius: 50%;
        border: 3px solid $color-dark-gray;
      }
    }
  }
  .author-name {
    padding-left: 1rem;
    &:after {
      content: "";
      margin: 0 1rem;
      font-family: "Vocabulary Icons", monospace;
      font-size: 0.7rem;
      color: $color-light-gray;
    }
  }
  .author-info-group {
    padding-left: $space-normal;
  }
}
.terms-list {
  .tag {
    background-color: $color-white;
    color: $color-dark-gray;
  }
}
.custom-pagination {
  .pagination {
    &.navigation {
      justify-content: flex-start;
      .nav-links {
        @extend .pagination-list;
        flex-grow: 0;
        .page-numbers {
          @extend .pagination-link;
          border-radius: 0;
          &:hover {
            text-decoration: none;
            color: $color-dark-gray;
          }
          &.current {
            @extend .is-current;
            &:hover {
              color: $color-white;
            }
          }
        }
      }
    }
    .page-numbers {
      @extend .pagination-list;
      li {
        @extend .inactive;
        border-radius: 0;
        a {
          text-decoration: none;
          &.page-numbers {
            @extend .pagination-link;
            border-radius: 0;
          }
        }
        span {
          &.current {
            border-radius: 0;
            @extend .pagination-link;
            @extend .is-current;
          }
          &.dots {
            @extend .pagination-ellipsis;
          }
        }
      }
    }
  }
}
#breadcrumbs {
  margin-bottom: $space-big;
  font-size: 0.8rem;
  font-weight: 600;
  a {
    font-size: 0.8rem;
  }
  .icon {
    margin: 0 0.6rem;
    font-size: 0.7rem;
  }
}
