.featured-content {
	display: flex;
	align-items: flex-end;
  min-height: 50vh;
	color: $color-white;
	background-size: cover;
	background-repeat: no-repeat;
	background-blend-mode: multiply;
	background-position: center;
	&.has-notification-enabled {
		padding-bottom: $space-larger;
	}
	.wrap-content {
		.heading-b {
			margin-bottom: $space-big;
			color: $color-white;
		}
	}
}

.single-header, .page-header {
	padding-top: $space-large;
	padding-bottom: $space-large;
	background-color: $color-lighter-gray;
	.entry-date {
		color: $color-dark-gray;
		font-style: italic;
	}
	.entry-image {
		margin-bottom: $space-normal;
		img {
			width: 100%;
		}
	}
}

.social-media {
	padding-top: $space-normal;
	a {
		margin-right: $space-small;
		color: $color-white;
		text-decoration: none;
		.icon {
			font-size: 1.8rem;
		}
		&:hover {
			text-decoration: none;
		}
	}  
}

.entry-footer {
	.leveled {
		justify-content: space-between;
		.share-entry {
			.share {
				.icon {
					font-size: 2rem;
				}
			}
		}
	}
}
