.featured-content {
	display: flex;
	align-items: flex-end;
  min-height: 50vh;
	color: $color-white;
	background-size: cover;
	background-repeat: no-repeat;
	background-blend-mode: multiply;
	background-position: center;
	&.has-notification-enabled {
		padding-bottom: $space-larger;
	}
	.wrap-content {
		.heading-b {
			margin-bottom: $space-big;
			color: $color-white;
		}
	}
}

.single-header, .page-header {
	padding-top: $space-large;
	padding-bottom: $space-large;
	background-color: $color-lighter-gray;
	.entry-date {
		color: $color-dark-gray;
		font-style: italic;
	}
	.entry-image {
		margin-bottom: $space-normal;
		img {
			width: 100%;
		}
	}
}

.social-media {
	padding-top: $space-normal;
	a {
		margin-right: $space-small;
		color: $color-white;
		text-decoration: none;
		.icon {
			font-size: 1.8rem;
		}
		&:hover {
			text-decoration: none;
		}
	}  
}

.entry-simple-post {
	margin-bottom: $space-big;
	&.has-image {
		.entry-image {
			padding: 0;
			img {
				width: 100%;
			}
		}
		.entry-content{
			padding-left: $space-bigger !important;
		}
	}
	.entry-content {
		padding-top: 1rem;
		padding-bottom: 2rem;
		.b-header {
			a {
				color: $black;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		.entry-date {
			color: $color-gray;
			font-weight: 600;
			font-size: .8rem;
			text-transform: uppercase;
		}
	}
	@include mobile() {
		&.has-image {
			.entry-content {
				padding-left: 0 !important;
			}
		}
	}
}
.navigation {
	&.pagination {
		padding-top: $space-bigger;
		padding-bottom: $space-bigger;
		.nav-links {
			.page-numbers {
				padding: .5rem;
				margin-right: .5rem;
				color: $color-black;
				background-color: $color-lighter-gray;
				&:hover {
					background-color: lighten($color-lighter-gray, 2);
				}
				&.prev, &.next {
					font-weight: 600;
					font-size: 1.1rem;
					.icon {
						font-size: .9rem;
					}
				}
				&.current {
					background-color: $color-orange;
					color: $white;
				}
			}
		}
	}
}
.searchform {
	.field {
		.control {
			&:first-child {
				width: 100%;
			}
		}
	}
}
.page {
	.sidebar {
		padding-top: 1.5rem;
	}
}
.side-navigation {
	.list-pages {
		.page_item {
			&.current_page_item {
				&>a {
					color: $color-black;
				}
			}
			a {
				display: block;
				padding: $space-normal;
				margin-bottom: $space-smaller;
				background-color: $color-lighter-gray;
				font-weight: 700;
			}
			&.current_page_item, &.current_page_ancestor {
				&.page_item_has_children {
					&>a {
						margin-bottom: 0;
						color: $color-black;
					}
				}
				.children {
					display: block;
					margin-bottom: $space-smaller;
					padding-bottom: $space-normal;
					padding-left: $space-larger;
					background-color: $color-lighter-gray;
					list-style-type: disc;
					.page_item {
							&>a {
								padding-top: $space-smaller;
								padding-bottom: $space-smaller;
								padding-left: $space-small;
								margin-bottom: 0;
							}
							&.current_page_item {
								&>a {
									color: $color-black;
								}
							}
						}
					}
				}
			}
		.children {
			display: none;
		}
	}
}
.entry-footer {
	.leveled {
		justify-content: space-between;
		.share-entry {
			.share {
				.icon {
					font-size: 2rem;
				}
			}
		}
	}
}
