.widget {
	&.card {
		text-align: center;
		.pre-title {
			display: block;
			margin-bottom: $space-small;
			color: $color-black;
			font-weight: 600;
		}
		.card-image {
			&.is_stretched {
				.image {
					img {
						width: 100%;
					}
				}
			}
			.image {
				text-align: center;
			}
		}
	}
	&.newsletter {
		padding-top: $space-large;
		padding-bottom: $space-larger;
		border: 2px solid $color-lighter-gray;
		.widget-byline {
			display: block;
			margin-bottom: $space-small;
		}
	}
	&.news {
		padding-top: $space-large;
		padding-bottom: $space-large;
		.widget-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: $space-large;
			.more-news {
				a {
					display: flex;
					align-items: center;
					font-weight: 600;
					.icon {
						margin-left: $space-small;
					}
				}
			}
		}
	}
}
.no-gap {
	.widget {
		padding: $space-large;
	}
}