.widget {
	&.title {
		@include mobile() {
			padding: 0;
			h1 {
				font-size: 2.25rem;
			}
		}
	}
	&.donate {
		text-align: center;
		h3 {
			margin-bottom: $space-normal;
		}
		.donate-buttons {
			display: flex;
			justify-content: center;
			.donate-amount {
				margin-right: $space-normal;
				&.active {
					background-color: $color-dark-gray;
					color: $white;
				}
			}
		}
		@include mobile() {
			padding: $space-normal;
			.donate-buttons {
				justify-content: space-between;
				.donate-amount {
					margin-bottom: $space-normal;
					margin-right: $space-normal;
					margin-left: $space-normal;
				}
				.donate {
					display: flex;
				}
			}
		}
	}
	&.twitter {
		&.has-border {
			border: 2px solid $color-lighter-gray;
		}
	}
	&.card {
		text-align: center;
		.pre-title {
			display: block;
			margin-bottom: $space-small;
			color: $color-black;
			font-weight: 600;
		}
		.card-image {
			&.is_stretched {
				.image {
					img {
						width: 100%;
					}
				}
			}
			.image {
				text-align: center;
			}
		}
	}
	&.newsletter {
		padding-top: $space-large;
		padding-bottom: $space-larger;
		&.has-border {
			border: 2px solid $color-lighter-gray;
		}
		.widget-byline {
			display: block;
			margin-bottom: $space-small;
		}
	}
	&.news {
		padding-top: $space-large;
		padding-bottom: $space-large;
		.widget-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: $space-large;
			.more-news {
				a {
					display: flex;
					align-items: center;
					font-weight: 600;
					.icon {
						margin-left: $space-small;
					}
				}
			}
		}
	}
}
.no-gap {
	.widget {
		padding: $space-large;
		&.title {
			@include mobile() {
				padding: 0;
			}
		}
	}
}